body{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 154, 12);
    font-family: 'Grape Nuts', cursive;
}

main{
    display: flex;
    justify-content: center;
}

#menu{
    position: absolute;
    top: 40vh;
}

header{
    position: absolute;
    display: block;
    margin: 10px auto;
    color:#fff;
    font-size: 80px;
    font-weight: bolder;
    text-align: center;
}


/*Input para agregar palabra*/
#input-palabra{
	padding-bottom: 1em;
	width: 100%;
	/* border: 1px solid #ccc; */
	border: 2px solid #0f52a4;
	padding: .7em;
	width: 100%;
	border-radius: 10px;
}

#btn-agregar{
    padding: .5em 2em;
	border: 0;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:#0f52a4;
	width: 100%;
    display: block;
    clear: both;
    margin: 10px 10px;
	border-radius: 20px;
	box-shadow: 3px 3px 15px -5px #818181;
}



section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position:absolute;
    top: 2%;
}
#display-juego{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:50vw;
    height: 85vh;
    top: 0;
    background-image: url(../images/cuaderno.png);
    background-size: cover;
    border-radius: 30px;
}

.hidden{
    display: none !important;
}

#dibujo{
    display: flex;
    justify-content: center;
    align-self: center;
    width:35%;
    height:70%;
    margin: 10px
}

#dibujo img{
    width: 100%;
    height:100%;
}


.display-letras{
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 5%;
    margin: 20px auto;
    font-size: large;
    font-weight: bolder;
}

.guion{
    height: 3px;
    width: 15px;
    background-color: black;
    margin: 5px auto;
}

.letra{
    color:black;
    margin: 5px auto;
}


.blur{
    filter: blur(5px);
}

.letras-usadas{
    display: flex;
    flex-direction: row;
    min-width: 60%;
    height: 5%;
    margin: 20px auto;
}

.letras-usadas p{
    margin: 5px 10px 5px 0;
}

.list{
    display: flex;
    flex-direction: row;
}

li{
    margin: 5px;
}


#ganaste{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 30px;
    top: 15%;
    width: 45%;
    height: 40%;
    text-align: center;
    color: #0f52a4;
    background-image: url(../images/hojadepapel.png);
    background-size:cover;
    font-size: 50px;
}

#ganaste h2{
    padding: 10px;
}

#ganaste h3{
    margin-left:2%;
    padding: 20px;
    font-size: 30px
}

#palabra-correcta{
    color: orange;
    font-size: 50px;
    font-weight: bolder;
}

#perdiste{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 30px;
    top: 15%;
    width: 50%;
    height: 50%;
    text-align: center;
    color: #0f52a4;
    background-image: url(../images/hojadepapel.png);
    background-size: cover;
    font-size: 50px;
}

#perdiste h2{
    padding: 10px;
}

#perdiste h3{
    margin-left:2%;
    padding: 20px;
    font-size: 30px
}

/*Botones*/
button{
    color: rgb(255, 203, 106);
    font-weight: bolder;
}

#play{
    width: 15vw;
    height: 67px;
    background: #266fc8;
    border-radius: 24px;
    font-style: normal;
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    border: 1px solid rgb(100, 100, 100);
    box-sizing: border-box;

    color: whitesmoke;

    margin: 10px; 
}

#play:hover{
    cursor: pointer;
    background-color: #408be7;
}

#play:active{
    background-color: #245fa7;
}

#add-palabra{
    width: 15vw;
    height: 67px;
    background: #266fc8;
    border-radius: 24px;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    border: 1px solid rgb(100, 100, 100);
    box-sizing: border-box;

    margin: 10px;
}

#add-palabra:hover{
    cursor: pointer;
    background-color: #408be7;
}

#add-palabra:active{
    background-color: #245fa7;
}

.botones-juego{
    display: flex;
    justify-content: center;
}
#nuevo-juego{
    width: 45%;
    height: 67px;
    background: #266fc8;
    border-radius: 24px;
    font-style: normal;
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    border: 1px solid rgb(100, 100, 100);
    box-sizing: border-box;

    /* color: orange; */

    margin: 10px;
}

#nuevo-juego:hover{
    cursor: pointer;
    background-color: #3b86e2;
}

#nuevo-juego:active{
    background-color: #245fa7;
}

#terminar-juego{
    width: 45%;
    height: 67px;
    background: #266fc8;
    border-radius: 24px;
    font-style: normal;
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    border: 1px solid rgb(100, 100, 100);
    box-sizing: border-box;

    /* color: rgb(255, 203, 106); */

    margin: 10px;
}

#terminar-juego:hover{
    cursor: pointer;
    background-color: #3b86e2;
}
#terminar-juego:active{
    background-color: #245fa7;
}
/* fin botones */


/*Mensajes en pantalla al usuario*/

.mostrar-mensaje{
    position: absolute;
    top:70%;
    width: 15vw;
    height: 40px;
    background-color: #818181;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    opacity: 1;
}

.mostrar-mensaje h4{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.mostrar-mensaje-input{
    position: absolute;
    top:70%;
    width: 18vw;
    height: 50px;
    background-color: #818181;
    color: #fff;
    text-align: center;
    border-radius: 30px;
}

.mostrar-mensaje-input h4{
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
/* fin mostrar mensajes */

/* teclado en pantalla */
#container-teclado{
    position:absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60vw;
    bottom: 3%;
}

.teclado{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.key{
    padding: 10px;
    text-align: center;
    background-color: #818181;
    color:#fff;
    border-radius: 10px;
    height:3vh;
    width: 6vw;
    margin:5px;
}

.key p{
    font-weight: bolder;
}

.key:active{
    background-color: rgb(193, 191, 191);
}

.key:hover{
    cursor: pointer;
}

.mostrar-teclado{
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

.ocultar-teclado{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

/* fin teclado */

/* vista tablet */
@media only screen and (max-width: 1200px){
    #display-juego{
        height:60vh;
        top:0;
    }
    .mostrar-mensaje{
        top: 50%;
        width: 20vw;
    }
    .mostrar-mensaje-input{
        width: 20vw;
    }
    #perdiste,#ganaste{
        top:5%;
    }

    #play,#add-palabra{
        width: 60vw;
    }
}

@media only screen and (max-width: 950px){
    #display-juego{
        height:60vh;
        width: 80vw;
        top:0;
    }
    .mostrar-mensaje{
        top: 50%;
        width: 30vw;
    }
    .mostrar-mensaje-input{
        width: 30vw;
    }

    #play{
        width: 60vw;
    }
    #add-palabra{
        width: 60vw;
    }

    #perdiste,#ganaste{
        top:5%;
    }
}

/* mobile */
@media only screen and (max-width: 500px){
    #play, #add-palabra{
        width: 80vw;
    }

    #game{
        flex-direction: column-reverse;
    }

    #display-juego{
        height: 60vh;
        width: 95vw;
    }

    #nuevo-juego,#terminar-juego{
        width: 55%;
        margin-top: 5px;
        height: 8vh;
        border-radius: 10px;
    }

    .display-letras{
        font-size: medium;
        width: 60%;
    }

    #perdiste,#ganaste{
        top:10%;
        width: 80%;
    }

    #perdiste h3, #ganaste h3{
        font-size: large;
    }

    #container-teclado{
        width:85%;
    }
    
    .key{
        margin: 2px;
        width: 15vw;
    }

    .mostrar-mensaje{
        top: 50%;
        width: 60vw;
    }
    .mostrar-mensaje-input{
        width: 60vw;
    }
}

/* footer */
footer{
    position: absolute;
    bottom: 1%;
    left: 5%;
    color: #fff;
}
footer h1{
    font-size: small;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}