body{
    background-color: salmon;
}

main{
    display: flex;
    justify-content: center;
}

#menu{
    position: absolute;
    top: 40vh;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#display-juego{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:50vw;
    height: 80vh;
    background-color: wheat;
    border-radius: 30px;
}

.hidden{
    display: none;
}

#dibujo{
    display: flex;
    justify-content: center;
    width:800px;
    height:600px;
    margin: 10px auto;
}

#dibujo img{
    width: 40%;
    height:580px;
}


.display-letras{
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 5%;
    margin: 20px auto;
}

.guion{
    height: 3px;
    width: 15px;
    background-color: black;
    margin: 5px auto;
}

.letra{
    color:black;
    margin: 5px auto;
}


.blur{
    filter: blur(5px);
}

.letras-usadas{
    display: flex;
    flex-direction: row;
    min-width: 60%;
    height: 5%;
    margin: 20px auto;
}

.letras-usadas p{
    margin: 5px 10px 5px 0;
}

.list{
    display: flex;
    flex-direction: row;
}

li{
    margin: 5px;
}

.ganaste{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 45%;
}


.perdiste{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 45%;
}