body{
    background-color: salmon;
}

main{
    display: flex;
    justify-content: center;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#display-juego{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:50vw;
    height: 90vh;
    background-color: wheat;
    border-radius: 30px;
}


#dibujo{
    width:800px;
    height:600px;
    margin: 10px auto;
}

/* #canvas{
    background-color: black;
    position:absolute;
} */

.display-letras{
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 5%;
    margin: 20px auto;
}

.guion{
    height: 3px;
    width: 15px;
    background-color: black;
    margin: 5px auto;
}

.letra{
    color:black;
    margin: 5px auto;
}
.hidden{
    display: none;
}